* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:host {
  position: fixed;
  inset: 0;
  display: block;
  overflow: hidden;
  z-index: 2;
}
:host.modal-open {
  z-index: 4;
}


/* container */
.container {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 280px;
  display: flex;
  transition: .5s;
  border: .2vw solid #fff; 
  border-radius: 10px; 
  backdrop-filter: blur(3px);
}

.container.active {
  left: 100px;
}

.policy-container {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 17.5px 30px 30px 30px;
  margin-right: 2.5px;
}
/* Custom scrollbar */
.policy-container::-webkit-scrollbar { 
    width: 0.5em; 
}
.policy-container::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 0.25em;  
    cursor: pointer; 
}
.policy-container::-webkit-scrollbar-track {
  margin: 2.5px 0;
}
